body {
    margin: 0;
    background: #0d0d0d;
    color: white;
    height: 100vh;
}

.main {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 40px);
}

.canvas_container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vtd_canvas {
    width: 100%;
    height: 100%;
    background: #111;
    border: 1px solid #222;
    border-radius: 8px;

}

.panel {
    width: 400px;
    background: #141414;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #222;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
    align-items: center;

}

.panel h1 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 8px;
    font-size: 2rem;
    text-align: center;
}

.velocity {
    width: 100%;
    background: transparent;
}

#reset,
.up_down,
#steps {
    background: #ffffff;
    color: #0d0d0d;
    border: none;
    padding: 12px 28px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.25s ease;
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vel_range {
    font-size: 1.5rem;
}

#button_group {
    display: flex;
    gap: 10px;
}