<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHRONOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <style>
        @font-face {
            font-family: 'Asimovian';
            src: url("{{ url_for('static', filename='fonts/Asimovian-Regular.ttf') }}") format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Nunito';
            src: url("{{ url_for('static', filename='fonts/Nunito-VariableFont_wght.ttf') }}") format('truetype');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>

<body>

    <!--LOGO CONTAINER-->
    <div class=" logo_container">
        <div class="logo">
            CHR
            <div class="o-wrapper">
                <div class="o-spin"></div>
            </div>
            NOS
        </div>
    </div>


    <!--DESCRIPTION CONTAINER-->
    <div class="des_container">
        <div class="description">
            <p><strong>CHRONOS </strong>lets you explore time dilation caused by velocity, gravity and acceleration
                through
                interactive
                , real-time simulations. Discover realistic phenomena with animations and controls desgined for learning
                and
                exploration</p>
        </div>
    </div>


    <!--BUTTON CONTAINER-->
    <div class="button_container">
        <a href="https://github.com/Neravahn/CHRONOS">
            <button><img src="{{ url_for('static', filename='images/github.png') }}" style="width:30px;">
                GITHUB</button>
        </a>
    </div>

    <!--CARD CONTAINER-->
    <div class="card_container">

        <a href="{{ url_for('velocity_simulation') }}" class="card-link">
        <div class="card">
            <h3>VELOCITY TIME DILATION</h3>
        </div>
        </a>

        <a href="{{ url_for('gravity_simulation') }}" class="card-link">
        <div class="card">
            <h3>GRAVITY TIME DILATION</h3>
        </div>
        </a>

        <a href="{{ url_for('twin_paradox') }}" class="card-link">
        <div class="card">
            <h3>TWIN PARADOX</h3>
        </div>
        </a>

    </div>

</body>

</html>