<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VELOCITY TIME SIMULATION</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vtd.css') }}">
</head>

<body>
    <div class="main">
        <!--CANVAS SECTION-->
        <div class="canvas_container">
            <canvas id="vtd_canvas"></canvas>
        </div>

        <!--PANEL SECTION-->
        <div class="panel">
            <h1>VELOCITY TIME DILATION</h1>
            <label for="velocity">VELOCITY IN PERCENT OF C (SPEED OF LIGHT)
            </label>

            <input type="number" id="steps" placeholder="ENTER STEPS">

            <div id="vel_range"></div>



            <input type="range" class="velocity" min="0" max="99" step="0.001" value="0">
            <div id="button_group">
                <button id="up" class="up_down">INCREASE</button>
                <button id="down" class="up_down">DECREASE</button>
            </div>
            <button id="reset">RESET CANVAS</button>
        </div>
    </div>



    <!--SCCRIPTS-->
    <script src="{{ url_for('static', filename='js/range.js') }}"></script>

</body>

</html>